
{% extends "test/layout.html" %}


{% load static %}

{% block content %}

    <div class="col-md-10">

              <div class="table-responsive">

                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div align="left" class="btn_crear mb-3">
                  <a href="create" type="button" class="btn btn-primary">Crear</a>
                </div>

                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th width="35%">Nombre</th>
                      <th>Precio</th>
                      <th>Stock</th>
                      <th>Imagen</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for postre in object_list %}
                    <tr>
                      <td>{{ postre.nombre }}</td>
                      <td>{{ postre.precio }}</td>
                      <td>{{ postre.stock }}</td>
                      <td><img src="{% static 'uploads/'%}{{postre.img}}" alt="{{postre.nombre}}" class="img-fluid" width="7%"></td>
                      <td>
                        
                        <form method="POST" action="delete/{{postre.id}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="details/{{postre.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="update/{{postre.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            <!-- <a href="eliminar/{{postre.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->                          
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>
  {# JS y jQuery Bootstrap #}
    
      <script type="text/javascript">
        function eliminar() {
          var x = confirm("Eliminar Producto ?");
          if (x)
            return true;
          else
            return false;
        }
      </script>

{% endblock %}

